# Virtual environment
.venv/
venv/

# Secrets
.env

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Editor and OS files
.vscode/
.DS_Store
Thumbs.db