
<br><br>
        <h1 style="background: linear-gradient(to right, #1F2E6C, #fa0404); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Sebastian Andrew Ong</h1>   
        <p>Second-Year Computer Engineering Student</p>
        
        <br>

        <h3>3</h3>
        <p>Completed Projects</p>

        <h3>2</h3>
        <p>Years Tutoring</p>

        <br>

        <h3>Skills</h3>
        <p>C++, Coding, Math, Computers</p>

        <br>

        <h3>Contacts</h3>
        <p>LinkedIn | Email</p>

        <br><br>